*~
*.orig
*.d
*.o
*.obj
*.gch
*.pch
*.out
core
core.*
test-aligned_byte_buffer
test-aligned_byte_buffer.debug
test-borrowed_byte_buffer
test-borrowed_byte_buffer.debug
test-dynamic_fixed_vector
test-dynamic_fixed_vector.debug
test-fixed_vector
test-fixed_vector.debug
